{% extends 'base.html' %}

{% block title %}Поддержка | Name of orchestra{% endblock %}

{% block content %}
<section>
    <h2>Как можно поддержать оркестр</h2>
    <ul>
        <li>
            <h3>Пожертвуй онлайн</h3>
            <p>...</p>
            <a href="#" class="button">Пожертвуй онлайн</a>
        </li>
        <li>
            <h3>Стань участником</h3>
            <p>...</p>
            <a href="#" class="button">Стань участником</a>
        </li>
    </ul>
</section>
{% endblock %}

